docs/fpsend/dtd/richiesta_sms.dtd

<!ELEMENT RICHIESTA_SMS (USERNAME, PASSWORD, CODICE_PROGETTO,REPLY_DETAIL, SMS+)>
<!ELEMENT SMS (TELEFONO,TESTO,CODIFICA,TTL,PRIORITA,DATA_INVIO,NOTE)>
<!ELEMENT USERNAME (#PCDATA)>
<!ELEMENT PASSWORD (#PCDATA)>
<!ELEMENT CODICE_PROGETTO (#PCDATA)>
<!ELEMENT REPLY_DETAIL (#PCDATA)>
<!ELEMENT TELEFONO (#PCDATA)>
<!ELEMENT TESTO (#PCDATA)>
<!ELEMENT CODIFICA (#PCDATA)>
<!ELEMENT TTL (#PCDATA)>
<!ELEMENT PRIORITA (#PCDATA)>
<!ELEMENT DATA_INVIO (#PCDATA)>
<!ELEMENT NOTE (#PCDATA)>
